html {
  direction: rtl;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

.cards .card {
  display: inline-block;
  width: 8.5cm;
  height: 5cm;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.40rem;
  font-weight: 800;
  position: relative;
}

.cards .card.student {
  background-image: url("/images/cards/student.png");
}

.cards .card.promoter {
  background-image: url("/images/cards/promoter.png");
}

.cards .card.protector {
  background-image: url("/images/cards/protector.png");
}

.cards .card.background {
  background-image: url("/images/cards/background.png");
}

.cards .card.background.student {
  background-image: url("/images/cards/bg-st.png");
  color: #40679e;
}

.cards .card.background .issue-date {
  position: absolute;
  top: 98.7px;
  right: 75px;
  color: black;
}

.cards .card.background .expiry-date {
  position: absolute;
  top: 108.6px;
  right: 78px;
}

.cards .card.background .local-phone {
  position: absolute;
  top: 133.7px;
  right: 79px;
}

.cards .card.background .fax {
  position: absolute;
  top: 146.7px;
  right: 57px;
}

.cards .card .picture {
  height: 1.6cm;
  position: absolute;
  top: 6px;
  left: 20px;
}

.cards .card .signature {
  height: 1cm;
  position: absolute;
  bottom: 18px;
  left: 30px;
}

.cards .card .name {
  position: absolute;
  top: 83px;
  right: 99px;
}

.cards .card .number-of-register {
  position: absolute;
  top: 71px;
  right: 93px;
}

.cards .card .birthdate {
  position: absolute;
  top: 125px;
  right: 71px;
}

.cards .card .familyname {
  position: absolute;
  top: 112px;
  right: 93px;
}

.cards .card .national-code {
  position: absolute;
  top: 97.5px;
  right: 60px;
}

.cards .card .fathername {
  position: absolute;
  top: 110px;
  right: 60px;
}

.cards .card .state {
  position: absolute;
  top: 138px;
  right: 55px;
}

.cards .card .city {
  position: absolute;
  top: 152px;
  right: 71px;
}

