html {
  direction: rtl;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

.cards .card {
  display: inline-block;
  width: 8.5cm;
  height: 5cm;
  position: relative;
}

