html {
  direction: rtl;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

.cards .card {
  display: inline-block;
  width: 8.5cm;
  height: 5cm;
  background-image: url("/images/card-img-sample.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.55rem;
  font-weight: 1000;
  position: relative;
}

.cards .card .picture {
  height: 1.6cm;
  position: absolute;
  top: 6px;
  left: 20px;
}

.cards .card .signature {
  height: 1cm;
  position: absolute;
  bottom: 18px;
  left: 30px;
}

.cards .card .name {
  position: absolute;
  top: 83.5px;
  right: 89px;
}

.cards .card .number-of-register {
  position: absolute;
  top: 71.5px;
  right: 83px;
}

.cards .card .birthdate {
  position: absolute;
  top: 125.5px;
  right: 61px;
}

.cards .card .familyname {
  position: absolute;
  top: 112.5px;
  right: 83px;
}

.cards .card .national-code {
  position: absolute;
  top: 99.5px;
  right: 50px;
}

.cards .card .fathername {
  position: absolute;
  top: 110.5px;
  right: 45px;
}

.cards .card .state {
  position: absolute;
  top: 137.5px;
  right: 45px;
}

.cards .card .city {
  position: absolute;
  top: 152.5px;
  right: 61px;
}

