main{
    background-image: url('/images/manabe-tabie-logo.png');
    min-height: calc(100vh - 85px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .login-main-page{
        @include md{
            margin-top: 10%;
            opacity: 0.95;
            &:hover{
                opacity: 1;
            }
        }
    }
}