html{
  direction: rtl;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
      // font-size: 4rem;
        width: 210mm;
        height: 297mm;
    }
}


// Cards

$card-width : 9cm;
$card-height: 6cm;
$card-right : 110px;
$card-top : 85px;

$card-back-top : 117px;
$card-back-right : 59px;

.cards{
  .card{
    // margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    display: inline-block;
    width: $card-width;
    height: $card-height;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 0.55rem;
    font-weight: 800;
    
    &.student{
      background-image: url('/images/cards/student-front.jpg') ;
    }
    &.promoter{
      background-image: url('/images/cards/promoter-front.jpg') ;
    }
    &.protector{
      background-image: url('/images/cards/protector.png') ;
    }
    &.background{
      background-image: url('/images/cards/background.png') ;
    }
    
    
    // background-attachment: fixed;
    position: relative;
    // background-color: red;
    &.background{
      &.student{
        background-image: url('/images/cards/student-back.jpg');
        color: #e53200;
      }
      &.promoter{
        background-image: url('/images/cards/promoter-back.jpg');
        color: #f2572d;
      }
      &.protector{
        background-image: url('/images/cards/protector-back.jpg');
        color: #356087;
      }
      .issue-date{
        position: absolute;
        top: $card-back-top;
        right: $card-back-right;
        color: black;
      }
      .expiry-date{
        position: absolute;
        top: $card-back-top+ 11px;
        right: $card-back-right + 2px;
      }
      .local-phone{
        position: absolute;
        top: $card-back-top + 4 * 10.6px;
        right: $card-back-right + 2px;
      }
      .fax{
        position: absolute;
        top: $card-back-top + 5 * 11.5px;
        right: $card-back-right - 20px;
      }
    }
    .picture{
      height: 1.6cm;
      position: absolute;
      top: 15px;
      left: 18px;
    }
    .signature{
      height: 1cm;
      position: absolute;
      bottom: 5px;
      left: 42px;
    }
    .number-of-register{
      position: absolute;
      top: $card-top; 
      right:  $card-right;
    }
    .name{
      position: absolute;
      top:  $card-top + 16px;
      right: $card-right;
    }
    .national-code{
      position: absolute;
      top: $card-top + 16*2px;
      right: $card-right;
    }
    .fathername{
      position: absolute;
      top:  $card-top + 16*3px;
      right: $card-right;
    }
    .birthdate{
      position: absolute;
      top:  $card-top + 16*4px;
      right:  $card-right;
    }
    // .familyname{
    //   position: absolute;
    //   top:  $card-top + 16*5px;
    //   right: $card-right;
    // }
    .state{
      position: absolute;
      top:  $card-top + 16*5px;
      right: $card-right;
    }
    .city{
      position: absolute;
      top: $card-top + 16*6px; 
      right: $card-right; 
    }
    &.student{
      .issue-date{
        position: absolute;
        top: $card-back-top;
        right: $card-back-right + 5px;
        color: black;
      }
      .expiry-date{
        position: absolute;
        top: $card-back-top + 11px;
        right: $card-back-right + 6px;
      }
      .local-phone{
        position: absolute;
        top: $card-back-top + 3 * 13.5px;
        right: $card-back-right + 8px;
      }
      .fax{
        position: absolute;
        top: $card-back-top + 4 * 14px;
        right: $card-back-right - 14px;
      }
    }
  }
}