html{
  direction: rtl;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}


// Cards

.cards{
  .card{
    display: inline-block;
    width: 8.5cm;
    height: 5cm;
    background-image: url('/images/card-img-sample.jpg') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 0.7rem;
    font-weight: 1000;
    // background-attachment: fixed;
    position: relative;
    // background-color: red;
    .picture{
      height: 1.5cm;
      position: absolute;
      top: 18px;
      left: 30px;
    }
    .signature{
      height: 1cm;
      position: absolute;
      bottom: 18px;
      left: 30px;
    }
    .name{
      position: absolute;
      top: 90px;
      right: 10px;
    }
    .familyname{
      position: absolute;
      top: 110px;
      right: 10px;
    }
    .national-code{
      position: absolute;
      top: 115px;
      right: 10px;
    }
    .fathername{
      position: absolute;
      top: 130px;
      right: 10px;
    }
  }
}