html{
  direction: rtl;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}


// Cards

.cards{
  .card{
    display: inline-block;
    width: 8.5cm;
    height: 5cm;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &.student{
      background-image: url('/images/cards/student-front.jpg') ;
    }
    &.promoter{
      background-image: url('/images/cards/promoter-front.jpg') ;
    }
    &.protector{
      background-image: url('/images/cards/protector.png') ;
    }
    &.background{
      background-image: url('/images/cards/background.png') ;
    }
    font-size: 0.40rem;
    font-weight: 800;
    
    
    // background-attachment: fixed;
    position: relative;
    // background-color: red;
    &.background{
      &.student{
        background-image: url('/images/cards/student-back.jpg');
        color: #e53200;
      }
      &.promoter{
        background-image: url('/images/cards/promoter-back.jpg');
        color: #f2572d;
      }
      &.protector{
        background-image: url('/images/cards/protector-back.jpg');
        color: #356087;
      }
      .issue-date{
        position: absolute;
        top: 96px;
        right: 54px;
        color: black;
      }
      .expiry-date{
        position: absolute;
        top: 107px;
        right: 55px;
      }
      .local-phone{
        position: absolute;
        top: 132px;
        right: 55px;
      }
      .fax{
        position: absolute;
        top: 145px;
        right: 33px;
      }
    }
    .picture{
      height: 1.6cm;
      position: absolute;
      top: 15px;
      left: 18px;
    }
    .signature{
      height: 1cm;
      position: absolute;
      bottom: 5px;
      left: 42px;
    }
    .name{
      position: absolute;
      top: 81px + 2px;
      right: 89px + 10px;
    }
    .number-of-register{
      position: absolute;
      top: 70px;
      right: 87px;
    }
    .birthdate{
      position: absolute;
      top: 123px + 2px;
      right: 61px + 10px;
    }
    .familyname{
      position: absolute;
      top: 110px + 2px;
      right: 83px + 10px;
    }
    .national-code{
      position: absolute;
      top: 95.5px + 2px;
      right: 50px + 10px;
    }
    .fathername{
      position: absolute;
      top: 108px + 2px;
      right: 50px + 12px;
    }
    .state{
      position: absolute;
      top: 136px + 2px;
      right: 45px + 13px;
    }
    .city{
      position: absolute;
      top: 151px;
      right: 70px;
    }
    &.student{
      .issue-date{
        position: absolute;
        top: 95px;
        right: 59px;
        color: black;
      }
      .expiry-date{
        position: absolute;
        top: 105.6px;
        right: 60px;
      }
      .local-phone{
        position: absolute;
        top: 131.7px;
        right: 60px;
      }
      .fax{
        position: absolute;
        top: 143.7px;
        right: 35px;
      }
    }
  }
}